* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color: white;
    --color-danger: var(--color-color);
    --color-color: rgb(25, 135, 84)
}

body {
    height: 100vh;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: var(--color);
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 39px;
    -webkit-appearance: none;
    margin-top: -3.6px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: var(--color-color);
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--color);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: var(--color);
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 39px;
    -webkit-appearance: none;
    margin-top: -3.6px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: var(--color-color);
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: var(--color);
    border-radius: 25px;
    border: 0px solid #000101;
}

#volume::-webkit-slider-thumb {
    background: "orange";
}

#volume::-moz-range-thumb {
    background: "orange";
}

.player-screen {
    display: flex;
    width: 95%;
    height: 50%;
    margin: 5px auto;
    position: relative;
    background-image: url("./1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.next-music-image {
    position: relative;
    /* background-image: url("./1.jpeg"); */
    background-size: cover;
    background-repeat: no-repeat;
}

#volume {
    width: 200px;
    transform: rotate(270deg);
    transform-origin: top;
    position: absolute;
    right: -70px;
    bottom: 40%;
    border-radius: 10px
}

.add-music-library {
    overflow-y: auto;
    margin: 2px auto;
    width: 100%;
    /* height: 35%; */
    border: 1px solid black;
    /* border-radius: 5px 5px 1px 1px; */
    position: relative;
    /* border-radius: 5px; */
    margin-left: 20%;
}

.add-player-screen {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.button {
    position: absolute;
    bottom: 3%;
    width: 100%;
    height: 15%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    border: none;
    /* border-radius: 10px; */
}

.button button {
    background-color: transparent;
    border: none;
    font-size: x-large;
    padding: 1rem;
}

#running {
    height: 20%;
    width: 100%;
    display: block;
    border-radius: 10px
}

.display {
    text-align: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    width: 90%;
    margin: 5px auto;
}

.vol {
    position: absolute;
    width: 40px;
    height: 40px;
    color: beige;
    right: 0;
    font-size: 1.5rem;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-music-list {
    padding-top: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    background-color: black;
    z-index: 100;
    /* border-radius: 20px 20px 0px 0px; */
    color: #fff;
    font-size: 1.3rem;
    display: none;
    margin: 0;
    overflow: auto;
    padding-bottom: 1rem;
}

.enclose {
    border-top: 1px solid white;
    /* padding: 0.4rem; */
    display: flex;
    justify-content: space-between;
}

.close {
    position: fixed;
    bottom: 0px;
    left: 0;
    text-align: center;
    width: 50%;
    padding-top: 5px;
    border-top: 1px solid white;
    font-size: 1.6rem;
    background: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25vw;
}

.playlist {
    position: fixed;
    top: 40vh;
    background-color: black;
    width: 50%;
    height: 40px;
}

.music-time {
    width: 13%;
    right: 0;
    display: flex;
    align-items: center;
}

.search {
    width: 30%;
    position: relative;
    left: 70%;
    margin-top: 5px;
    /* border: 2px solid indianred; */
    overflow: hidden;
}

.search input {
    width: 100vw;
    outline: none;
}

.search:hover {
    width: 100%;
    left: 0;
}

.search-value {
    background-color: beige;
    margin: 2px 2px;
}

.animate-favorite {
    border-radius: 5px;
    width: 35%;
    bottom: 22vh;
    left: 35%;
    background-color: black;
    position: fixed;
    z-index: 1000;
    color: #fff;
    font-weight: 900;
    display: none;
}

.add-animation {
    animation-name: favorite-animate;
    animation-duration: 1s;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animate-favorite span {
    color: red;
    font-size: 2rem;
}

@keyframes slideRight {
    from {
        left: 0vw;
    }
    to {
        left: 100vh;
    }
}

@keyframes dropDown {
    from {
        left: -100vw;
    }
    to {
        left: 0px;
    }
}

@keyframes favorite-animate {
    from {
        opacity: 0.9;
        background-color: black;
        bottom: 22vh;
    }
    to {
        opacity: 0.7;
        background-color: rgb(34, 32, 32);
        bottom: 38vh;
    }
}

@media screen and (max-width:800px) {
    .player-container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        margin: 0;
        border: none;
    }
    .player-screen,
    .add-music-library {
        margin-top: 5vh;
        height: 45%;
        border-radius: 1px;
        width: 100vw;
        overflow: hidden;
    }
    .player-screen {
        margin: 2.5vh auto;
        width: 90%;
    }
    .close {
        width: 100vw;
        margin: 0;
    }
}